.header_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px 60px 0;
  position: sticky;
  top: 40px;
  z-index: 99;
  will-change: transform, opacity;
  img {
    width: 5vw;
    height: auto;
  }

  button {
    position: relative;
    z-index: 99;
  }

  .custom-logo-link {
    &.opened {
      opacity: 0;
    }

    will-change: opacity;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.menu {
  display: flex;
  position: relative;
  z-index: 99;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-weight: 500;
  font-family: "Neue Montreal";
  color: #ffffff;
  background-color: #000000;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 0.8;
  min-width: 7px;
  min-height: 7px;

  .nav-roll {
    display: none;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 300ms;
  }

  .nav-roll-wrap {
    display: inline-block;
    overflow: hidden;
    position: relative;
  }

  .nav-roll span {
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  .nav-roll span::after {
    content: attr(data-label);
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    left: 0;
    bottom: auto;
    transform: translateY(105%);
    transition: all 0.3s ease-in-out;
  }

  .nav-roll:hover span {
    transform: translateY(-105%);
  }

  .nav-roll:hover span::after {
    transform: translateY(100%);
    top: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
  }

  #header-plus {
    font-size: 1.5rem;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: "Gotham", sans-serif;
  }
}

.margin {
  width: 100%;
  position: relative;
  .header_bar {
    margin: 0;
  }
}

// RESPONSIVE

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 600px) and (min-width: 420px) {
}

@media screen and (max-width: 768px) and (min-width: 600px) {
}

@media screen and (max-width: 992px) and (min-width: 768px) {
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
}

@media screen and (max-width: 768px) {
  .header_bar {
    .custom-logo-link {
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
    will-change: transform, opacity;
  }

  .menu_page {
    nav:not(.header_social) {
      left: 20px;
    }

    .overlay-menu {
      .menu-item {
        font-size: 64px;
      }
    }

    will-change: transform;
  }

  .margin {
    .header_bar {
      padding: 20px 15px !important;
      margin: 0 10px;
    }
  }

  .gradient {
    filter: none;
  }
}
