header {
  position: sticky;
  top: 0;
  z-index: 99;
  top: 10px;

  .header_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px 60px 0;
    position: sticky;
    top: 0px;
    z-index: 99;
    will-change: transform, opacity;

    img {
      width: 5vw;
      height: auto;
    }

    .custom-logo-link {
      &.opened {
        opacity: 0;
      }

      will-change: opacity;
    }

    .menu {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .menu-item {
        display: inline-block;
        overflow: hidden;
        position: relative;

        a {
          display: inline-block;
          transition: all 0.3s ease-in-out;
          font-family: "Gotham", sans-serif !important;
          text-transform: uppercase;
          text-decoration: none;
          color: white;

          &::after {
            content: attr(data-label);
            display: block;
            overflow: hidden;
            width: 100%;
            position: absolute;
            top: 50%;
            right: auto;
            left: 0;
            bottom: auto;
            transform: translateY(105%);
            transition: all 0.3s ease-in-out;
          }
        }


        &:hover a {
          transform: translateY(-105%);

          &::after {
            transform: translateY(100%);
            top: 0;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

&.margin {
  width: 100%;
  position: relative;

  .header_bar {
    margin: 0;
  }
}



@media screen and (max-width: 420px) {
  header .header_bar {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 600px) and (min-width: 420px) {
  header .header_bar {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  header .header_bar {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  header .header_bar {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  header .header_bar {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 768px) {
  header .header_bar {
    will-change: transform,
      opacity;
    margin: 50px 10px;

    .custom-logo-link {
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }

  }

  .menu_page {
    nav:not(.header_social) {
      left: 20px;
    }

    .overlay-menu {
      .menu-item {
        font-size: 64px;
      }
    }

    will-change: transform;
  }

  .margin {
    .header_bar {
      padding: 20px 15px !important;
      margin: 0 10px;
    }
  }

  .gradient {
    filter: none;
  }
}