.header_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px 60px 0;
  position: sticky;
  top: 0px;
  z-index: 99;
  will-change: transform, opacity;

  img {
    width: 5vw;
    height: auto;
  }

  button {
    position: relative;
    z-index: 99;
  }

  .custom-logo-link {
    &.opened {
      opacity: 0;
    }

    will-change: opacity;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  top: 10px;
}



// RESPONSIVE

@media screen and (max-width: 420px) {}

@media screen and (max-width: 600px) and (min-width: 420px) {}

@media screen and (max-width: 768px) and (min-width: 600px) {}

@media screen and (max-width: 992px) and (min-width: 768px) {}

@media screen and (max-width: 1200px) and (min-width: 992px) {}

@media screen and (max-width: 768px) {
  .header_bar {
    .custom-logo-link {
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }

    will-change: transform,
    opacity;
  }

  .menu_page {
    nav:not(.header_social) {
      left: 20px;
    }

    .overlay-menu {
      .menu-item {
        font-size: 64px;
      }
    }

    will-change: transform;
  }

  .margin {
    .header_bar {
      padding: 20px 15px !important;
      margin: 0 10px;
    }
  }

  .gradient {
    filter: none;
  }
}